<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="./css/style.css">
        {{!-- <link rel="stylesheet" href="../../public/css/style.css" --}}
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="./img/dog.jpg">
        </div>
        
        {{>footer}}
        <script src="js/app.js"></script>
    </body>
</html>